
// Define fonts for body and headers
$body-font: "Nunito", "Nunito";
$headers-font: "Nunito", "Nunito";
body h1 {
  font-family: "Nunito";
  font-size: 35px;
}

body h2 {
font-size: 25px;
}

body p {
font-size: 15px;
}
// To use a font file (.woff) uncomment following lines



