#barcode-scanner {
  height: 100vh;
  width: 100vw;
  padding: 0 0;
  background-color: black;
  // display:flex;
  // justify-content: center;
  position: fixed;
  height: 801px;
  width: 630px;
}
// gainsboro
.left-bracket {
  height: 72px;
  width: 97px;
  position: absolute;
  top: 46%;
  right: 72%;
}
.right-bracket {
  height: 72px;
  width: 97px;
  position: absolute;
  top: 46%;
  left: 72%;
}

.pop-btn{

    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 16px;
    margin: 31px 44px;
    cursor: pointer;
    border-radius: 30px;
    width: 80%;
    bottom: 13px;
    position: fixed;
  &:hover {
    text-decoration: none;
  }
}

a:hover {
  text-decoration: none;
}
