// .result-page-result {
//   margin-top: 80px;
//   font-weight: 40px;
//   margin-bottom: 40px;
// }
body.diets.show {
  background: white;
  margin: 0 0 100px;
}
 html.diets.show {
 position: relative;
  min-height: 100%;
}

.margin-fixed {
    margin-left: 0;
}
.title-show {
  height: 15vh;
  width: 100vw;
  color: white;
  font-weight: bold;
  background: #4CAF50;
  color: white;
  margin: 1px;
  box-shadow: inset 0 1px rgba(255,255,255, 0.5);
  text-align: center;
  padding: 6px;
  h1 {
    margin-top: 0;
    font-size: 35px;
    padding-top: 35px;
    font-weight: 600;
  }
}

.ingredient-categories-button {
  width: 100vw;
  height: 8vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: #e1e1e1;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-bottom: 2px solid white;
  }

// .vegetarian .ingredient-categories-button {
//   width: 100vw;
//   height: 8vh;
//   background: #76b552;
//   font-size: 20px;
//   padding-top: 1vh;
//   padding-bottom: 1vh;
// }

// .gluten-free .ingredient-categories-button {
//   width: 100vw;
//   height: 8vh;
//   background: #bfdd6b;
//   font-size: 20px;
//   padding-top: 1vh;
//   padding-bottom: 1vh;
// }

// .dairy .ingredient-categories-button {
//   width: 100vw;
//   height: 8vh;
//   background: #2f9d7f;
//   font-size: 20px;
//   padding-top: 1vh;
//   padding-bottom: 1vh;
// }
ul {
  margin:0;
}
.padding-fix {
  padding-top: 15px !important;
  padding-bottom: 15px;
}
.arrow-dropdown-meat {
  transition: all 0.3s ease;
    &.arrow-dropdown-down {
    transform: rotate(90deg);
  }
}
.arrow-dropdown-seafood {
  transition: all 0.3s ease;
    &.arrow-dropdown-down {
    transform: rotate(90deg);
  }
}
.arrow-dropdown-artificial-coloring {
  transition: all 0.3s ease;
    &.arrow-dropdown-down {
    transform: rotate(90deg);
  }
}
.arrow-dropdown-gluten {
  transition: all 0.3s ease;
    &.arrow-dropdown-down {
    transform: rotate(90deg);
  }
}
.arrow-dropdown-dairy {
  transition: all 0.3s ease;
    &.arrow-dropdown-down {
    transform: rotate(90deg);
  }
}
ul.ingredients-meat.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-meat {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}
ul.ingredients-gluten.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-gluten {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}
ul.ingredients-seafood.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-seafood {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}ul.ingredients-dairy.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-dairy {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}ul.ingredients-artifical-coloring.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-artifical-coloring {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}ul.ingredients-other-vegan-ingredients.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-other-vegan-ingredients {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}


.flex-container-show {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
a:active {
  text-decoration: none;
}

.padding-left {
  position: relative;
  left: 27px;

}

.padding-right {
  padding-right: 10px;
}
.white-color {
  color: #7e7e7e;
}

.icon-show {
  width: 45px;
  height: 45px;
}

// .button-show {

//   background-color: #326a2f;
//   width: 123px;
//   height: 57px;
// }


.flex-container-show-buttons {

  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  height: 27%;
}


.link {

  background-color: transparent;
  border: 2px solid #4CAF50;
  color: #4CAF50;
  padding: 19px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  border-radius: 30px;
  width: 80%;
  margin-left: 10%;

  p {
    font-size: 16px;
    text-align: center;
    margin: 0;

  }
}
.link-2 {

  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  color: white;
  padding: 19px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  width: 80%;
  bottom: 75px;
  margin-left: 10%;
  margin-top: 5%;
p {
  font-size: 16px;
  text-align: center;
  margin: 0;

  }
}
.link:active {
  background: #4CAF50;
  color: white;
}

.list-div {

  width: 100px;
  height: 29px;
  // padding-left: 10px;
  text-align: center;
}
.li-style {
  color: black;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  text-align: justify;
  list-style: none;
  padding-left: 4px;
  padding-top: 1px;
  padding-bottom: 10px;

}
.footer {
 background: #d8e8da1a;
 position: absolute;
 left: 0;
 bottom: 0;
 height: 27%;
 width: 100%;
}

/* Dropdown Button */
.dropbtn {
    // background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    // position: absolute;
    background-color: #f1f1f1;
    min-height: 100%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .list-div {
    color: black;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}

/* Change color of dropdown links on hover */


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {background-color: #3e8e41;}
