// .result-page-result {
//   margin-top: 80px;
//   font-weight: 40px;
//   margin-bottom: 40px;
// }
body.diets.show {
  background: white;
  margin: 0 0 100px;
}
 html.diets.show {
 position: relative;
  min-height: 100%;
}

.margin-fixed {
    margin-left: 0;
}
.title-show {
  height: 15vh;
  width: 100vw;
  color: white;
  font-weight: bold;
  background: #4CAF50;
  color: white;
  margin: 1px;
  box-shadow: inset 0 1px rgba(255,255,255, 0.5);
  text-align: center;
  padding: 6px;
  h1 {
    margin-top: 0;
    font-size: 35px;
    padding-top: 35px;
    font-weight: 600;
  }
}

.vegan .ingredient-categories-button {
  width: 100vw;
  height: 8vh;
  background: #377f2d;
  }

.vegetarian .ingredient-categories-button {
  width: 100vw;
  height: 8vh;
  background: #76b552;
  font-size: 20px;
}

.gluten-free .ingredient-categories-button {
  width: 100vw;
  height: 8vh;
  background: #bfdd6b;
  font-size: 20px;
}

.dairy .ingredient-categories-button {
  width: 100vw;
  height: 8vh;
  background: #2f9d7f;
  font-size: 20px;
}

ul.ingredients-meat.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-meat {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}
ul.ingredients-gluten.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-gluten {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}
ul.ingredients-seafood.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-seafood {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}ul.ingredients-dairy.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-dairy {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}ul.ingredients-artifical-coloring.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-artifical-coloring {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}ul.ingredients-other-vegan-ingredients.collapsed {
  max-height: 0;
  transition: max-height 0.30s ease-out;
}
ul.ingredients-other-vegan-ingredients {
  max-height: 500px;
  transition: max-height 0.50s ease-in;
  overflow: hidden;
}


.flex-container-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a:active {
  text-decoration: none;
}

.padding-left {
  position: relative;
  left: 27px;

}

.padding-right {
  padding-right: 10px;
}
.white-color {
  color: white;
}

.icon-show {
  width: 45px;
  height: 45px;
}

// .button-show {

//   background-color: #326a2f;
//   width: 123px;
//   height: 57px;
// }


.flex-container-show-buttons {

  display: flex;
  justify-content: center;
  justify-content: space-around;
  position: relative;
}


.link {
  text-decoration: none;
  color: #326a2f;
  font-weight: bolder;
  width: 123px;
  height: 57px;
  background: #d8e8da99;
  position: relative;
  margin: 30px;
  top: -15px;
  padding: 16px;
  font-size: 50px;
  border-radius: 10px;
  text-align: center;
  // box-shadow: 0px 4px 0px 0px darken(#007335, 1%), 0px 0px 20px 0px #bbb;

  transition: all 0.2s;
  p {
    font-size: 18px;

  }
}

.link:active {
  background: #4CAF50;
  color: white;
}

.list-div {

  width: 100px;
  height: 29px;
  // padding-left: 10px;
  text-align: center;
}
.li-style {
  color: black;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  text-align: justify;
  list-style: none;
  padding-left: 4px;
  padding-top: 10px;

}
.footer {
 background: #d8e8da1a;
 position: absolute;
 left: 0;
 bottom: 0;
 height: 100px;
 width: 100%;
}

