<h1>Result</h1>

<!-- <p>trueeeeeee</p> -->
<% if @scan.result.true?  %>
  <p>you can have this prodect</p>
  <!-- </div style=“background-image: url(<%= assets_path ‘true.jpg’ %>)“> -->
<% else %>
  <p>you can't have this prodect</p>
<% end %>
<!-- print V -->


