<%#  raise%>
<% if @scan.result == nil %>
  <h1>The product is not in the database as of now</h1>
<% elsif @scan.result == true  %>
  <h1 class="text-center result-page-result">You can eat!</h1>
  <!-- this product fits you dietery needs -->
  <%= @scan.product_name %>
  <%= @scan.ingredients %>
  <!-- <div style="background-image: url(<%= image_path 'true.jpg' %>)"></div> -->
  <div style="background-image: url('https://kitt.lewagon.com/placeholder/cities/berlin');"></div>
<% else %>
  <h1 class="text-center result-page-result">You can't eat!</h1>
<% end %>
  <!-- </div style=“background-image: url(<%#= assets_path false.jpg’ %>)“> -->
  <div class="return-btn text-center">
    <%= link_to 'Scan again', new_scan_path, class:"btn btn-primary", style:"text-center" %>
  </div>

<!-- nill
true
false -->
