.pop-btn{

    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: center;
    font-size: 16px;
    margin: 31px 44px;
    cursor: pointer;
    border-radius: 30px;
    width: 80%;
    bottom: 13px;
    position: fixed;
&:hover {
  text-decoration: none;
}
}

a:hover {
  text-decoration: none;
}
