.image1{
    width: 100%;
    height: 40vh;
  }
.part2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    min-height: 45vh;
    max-height: auto;
    background:white;
    h2{
      color:#636262;
      font-size:10px;
    }
    h3{
       color:#636262;
    }
    p{
       color:#636262;
    }
    li{
      color:#636262;
    }
}
.container {
    padding: 2px 16px;
    position: center;
}
.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}
.button {
    position: -webkit-sticky;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 33px;
    font-size: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;
    color: white;
    background-color: #4CAF50;
    border-color: #4CAF50;
    background-image: url(scan.png);
    background-repeat: no-repeat;
    background-position: -14px -4px;
    background-size: 100px;
    box-shadow: -3px 6px 6px #888888;
}
.prefrence-title{
  width:100%;
}
.add{
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 31px 44px;
    cursor: pointer;
    border-radius: 30px;
    width: 80%;
    bottom: 75px;
    position: fixed;
}
.again{
    background-color: transparent;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 31px 44px;
    cursor: pointer;
    border-radius: 30px;
    width: 80%;
    bottom: -2px;
    position: fixed;
}
.container h5,h6{
      text-align: center;
      color: #808080;
      margin: 42px;
}
.nil{
  height: 85vh;
  background-color: #eeecec;
  h6{
     text-align: center;
      color: #808080;
      margin: 42px;
      padding-top: 0px;
      padding-right: 0px;
  }
}
.image2{
  width: 100%;
  margin-left: 14px;
}
.new-color{
  background-color: #4CAF50;
}
