.part3{
    width: 100%;
    // height: -webkit-fill-available;
    background:#4CAF50;
    h3{
      text-align:center;

   }
    ul{
      list-style-type: none;
      margin-left: 9px;
      // padding-top: 25px;
      line-height: 1.9em;
      text-align: center;
    }
    position: relative;
    padding-bottom: 110px;
  &.false-result {
    background-color: red;
    .back2 {
      color: red;
    }
  }
}
.wrapper-show-scan {

}
.part1{
  width: 100%;
  height: 40vh;
  background:linear-gradient(to bottom left, #f73347, #ff9e6f);
}
.part2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    min-height: 45vh;
    max-height: auto;
    background:white;
    h2{
      color:#636262;
      font-size:10px;
    }
    h3{
       color:#636262;
    }
    p{
       color:#636262;
    }
    li{
      color:#c7c8c9;
      text-decoration: yes;
      padding-left:3px;
    }
    ul{
      list-style-type: disc;
      margin-left: 30px;
      padding-top: 25px;
      line-height: 1.9em;
      text-align: center;
    }
}
.container {
    padding: 2px 16px;
    position: center;
    h3{
    font-size: 27px;
    padding-left: 15px;
}
    }

// .col-xs-12 {
//   padding-left: 0;
//   padding-right: 0;
// }
.button {
    position: -webkit-sticky;
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 33px;
    font-size: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 1;
    color: white;
    background-color: #4CAF50;
    border-color: #4CAF50;
    background-image: url(scan.png);
    background-repeat: no-repeat;
    background-position: -14px -4px;
    background-size: 100px;
    box-shadow: -3px 6px 6px #888888;
}
.prefrence-title{
  width:100%;
}
.sorry-btns {
  position: fixed;
  // top: 80%;
  left: 50%;
  min-width: 90vw;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}
.sorry-again {
  top: 87%;
}
.sorry-add {
  top: 77%;
}
.add{
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    color: white;
    /* width: 400px; */
    bottom: 75px;;
    border: 2px solid #4CAF50;
    padding: 18px;
    text-align: center;
    // text-decoration: none;
    // display: center;
    font-size: 16px;
    // margin: 31px 44px;
    cursor: pointer;
    border-radius: 30px;
    width: 80%;
    // position: fixed;
}
.again{
    background-color: transparent;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    padding: 18px;
    text-align: center;
    // text-decoration: none;
    // display: center;
    font-size: 16px;
    // margin: 31px 44px;
    cursor: pointer;
    border-radius: 30px;
    width: 80%;
    bottom: -2px;
    // position: fixed;
}
.container h5,h6{
      text-align: center;
      color: #808080;
      margin: 30px;
}
.nil{
  height: 85vh;
  background-color: #eeecec;
  h6{
     text-align: center;
      color: #808080;
      margin: 42px;
      padding-top: 0px;
      padding-right: 0px;
  }
}
.image2{
  width: 100%;
}
.new-color{
  background-color: #4CAF50;
}
.show{
  padding-top:0px;
}
.icone1{
    // width: 58%;
    // margin-left: 89px;
    margin-top: 22px;
    max-width: 190px;
    max-height: 180px;
}
.center-image-flex {
  display: flex;
  justify-content: center;
}
.eat h1{
  text-align:center;
  font-size:23px;
  padding-left:14px;
}
.ingredients-title h6{
  // height: 6vh;
  color:white;
  text-align:center;
  padding-right:0px;
  font-size: 25px;
  margin: 15px;
}
.back2{
    background-color: white;
    // border: 40px solid #4CAF50;
    color: #4CAF50;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // margin: -97px 1px;
    cursor: pointer;
    border-radius: 73px;
    width: 80%;
    left: 10%;
    // margin-bottom: -50px;
    position: absolute;
    bottom: 30px;
    // margin-bottom
}
