.margin-fix{
  margin-right: 0;
  padding-top: 0 !important;
}

.btn-wrapper {
  height: 21.25vh;
  width: 100vw;
  margin: auto 0;
  // box-shadow: inset 0 2px rgba(255,255,255, 0.5);
  padding-left: 12px;
  padding-right: 11px;
  border-bottom: 2px solid #E0E0E0;
}

.prefrence-title {
  height: 15vh;
  width: 100vw;
  color: white;
  background: #4CAF50;
  color: white;
  margin: auto 0;
  box-shadow: inset 0 1px rgba(255,255,255, 0.5);
  h1 {
    margin-top: 0;
  }
}


.prefrence-title h1 {
  font-weight: 600;
  text-align: center;
  line-height: 15vh;
}

.color-1-btn-wrapper {
background: white;
color: #7E7E7C;
margin: auto 0;
}

.color-1-btn-wrapper:active {
background: white;
  -webkit-box-shadow: inset 0px 0px 12px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 12px #c1c1c1;
          box-shadow: inset 0px 0px 12px #c1c1c1;
   outline: none;
}

.color-2-btn-wrapper {
background: white;
color: #7E7E7C;
margin: auto 0;
}

.color-2-btn-wrapper:active {
background: white;
  -webkit-box-shadow: inset 0px 0px 12px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 12px #c1c1c1;
          box-shadow: inset 0px 0px 12px #c1c1c1;
   outline: none;
}
.color-3-btn-wrapper {
background: white;
color: #7E7E7C;
margin: auto 0;
}

.color-3-btn-wrapper:active {
background: white;
  -webkit-box-shadow: inset 0px 0px 12px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 12px #c1c1c1;
          box-shadow: inset 0px 0px 12px #c1c1c1;
   outline: none;
}
.color-4-btn-wrapper {
background: white;
color: #7E7E7C;
margin: auto 0;
height: 21.25vh;
width: 100vw;
margin: auto 0;
box-shadow: inset 0 1px rgba(255,255,255, 0.9);
}

.color-4-btn-wrapper:active {
background: white;
  -webkit-box-shadow: inset 0px 0px 12px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 12px #c1c1c1;
          box-shadow: inset 0px 0px 12px #c1c1c1;
   outline: none;
}
.card-wrapper {
  position: relative;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-ccontent: space-between;
  h2 {
    margin: 0;
  }

 p {
  margin: 0;
 }
}
.flex-item-info {
  display: flex;
  align-items: center;
  > div {
    padding-left: 48px;
  }
}
.resize {
width: 80px;
height: auto;
}

.font-weight-600{
  font-weight: 600;
}

.line-height {
  line-height: 21.5vh;
}
.padding-bottom-4 {
  padding-bottom: 4px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-top-6 {
padding-top: 6px;
}

.padding-bottom-3 {
   padding-bottom: 3px;
}

.sign_in {
  font-size: 13px;
    color: white;
    display: block;
    padding-left: 142px;
    margin-top: 5px;
    margin-bottom: 14px;
    font-style:italic;
}

.information-positioning-1 {
  position: absolute;
  top: 8.5%;
  right: 5%;
  i {
    color: #7e7e7e;
    font-size: 15px;
    padding: 6px 11px;
    border: 2px solid #7e7e7e;
    border-radius: 50%;
  }
}

.information-positioning-2 {
  position: absolute;
  top: 37.5%;
  left: 87.5%;
}

.information-positioning-3 {
  position: absolute;
  top: 58.5%;
  left: 87.5%;
}

.information-positioning-4 {
  position: absolute;
  top: 80.5%;
  left: 87.5%;
}

.information-icon {
  height: 35px;
}

.position-absolute {
  a {
    color: white !important;
  }
  position: absolute;
  top: 2%;
  right: 15px;
  font-size: 20px;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.flex-box-arrow {
  display: flex;
  justify-content: space-between;

}
