.margin-fix{
  margin-right: 0;
  padding-top: 0 !important;
}

.btn-wrapper {
  height: 21.25vh;
  width: 100vw;
  margin: auto 0;
  box-shadow: inset 0 1px rgba(255,255,255, 0.5);
  padding-left: 12px;
  padding-right: 11px;
}

.prefrence-title {
  height: 15vh;
  width: 100vw;
  color: white;
  background: #326a2f;
  color: white;
  margin: auto 0;
  box-shadow: inset 0 1px rgba(255,255,255, 0.5);
  h1 {
    margin-top: 0;
  }
}


.prefrence-title h1 {
  font-weight: 600;
  text-align: center;
  line-height: 15vh;
}

.color-1-btn-wrapper {
background: #377f2d;
color: white;
margin: auto 0;
}

.color-1-btn-wrapper:active {
background: #377f2d;
  -webkit-box-shadow: inset 0px 0px 12px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 12px #c1c1c1;
          box-shadow: inset 0px 0px 12px #c1c1c1;
   outline: none;
}

.color-2-btn-wrapper {
background: #76b552;
color: white;
margin: auto 0;
}

.color-2-btn-wrapper:active {
background: #76b552;
  -webkit-box-shadow: inset 0px 0px 12px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 12px #c1c1c1;
          box-shadow: inset 0px 0px 12px #c1c1c1;
   outline: none;
}
.color-3-btn-wrapper {
background: #bfdd6b;
color: white;
margin: auto 0;
}

.color-3-btn-wrapper:active {
background: #bfdd6b;
  -webkit-box-shadow: inset 0px 0px 12px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 12px #c1c1c1;
          box-shadow: inset 0px 0px 12px #c1c1c1;
   outline: none;
}
.color-4-btn-wrapper {
background: #2f9d7f;
color: white;
margin: auto 0;
height: 21.25vh;
width: 100vw;
margin: auto 0;
box-shadow: inset 0 1px rgba(255,255,255, 0.9);
}

.color-4-btn-wrapper:active {
background: #2f9d7f;
  -webkit-box-shadow: inset 0px 0px 12px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 12px #c1c1c1;
          box-shadow: inset 0px 0px 12px #c1c1c1;
   outline: none;
}
.flex-container {
  display: flex;
  align-items: center;
  h2 {
    margin: 0;
  }

 p {
  margin: 0;
 }
}

.resize {
width: 80px;
height: auto;
}

.font-weight-600{
  font-weight: 600;
}

.line-height {
  line-height: 21.5vh;
}
.padding-bottom-4 {
  padding-bottom: 4px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-top-6 {
padding-top: 6px;
}

.padding-bottom-3 {
   padding-bottom: 3px;
}

.sign_in {
  font-size: 13px;
    color: white;
    display: block;
    padding-left: 142px;
    margin-top: 5px;
    margin-bottom: 14px;
    font-style:italic;
}
