<div class= "flex-container">

  <% @black_list.each do |ingredient| %>
  <div class = "flex-item-ingredients-list">
  <%= ingredient.name %>
  </div>
  <%end%>
</div>
--------------------------------------------------------------------------------
  <% @not_blacklisted.each do |ingredient| %>
  <%= ingredient.name %>
  <%end%>

