// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "scans/index";

#barcode-scanner canvas.drawingBuffer, #barcode-scanner video.drawingBuffer {
 display: none;
}

#barcode-scanner canvas, #barcode-scanner video {
 width: 100%;
 height: auto;
}


a:active, a:hover, a:visited, a:focus, a:link {
  text-decoration: none;
}
.green-btn:hover, .green-btn:active,
.green-btn:visited, .green-btn:focus,
.link-2:hover, .link-2:active,
.link-2:visited, .link-2:focus,
.white-btn:active, .link:active
// .green-btn:link {
  {
  color: white !important;
}
.white-btn:hover, .white-btn:visited,
.white-btn:focus,
.link:hover,
.link:visited, .link:focus
// .white-btn:link
 {
  color: #4CAF50;
}

  .special{
      background-color: transparent;
      border: 2px solid white;
      color: white;
      padding: 18px 120px;
      text-align: center;
      text-decoration: none;
      // display: center;
      font-size: 16px;
      // margin: 21px -148px;
      cursor: pointer;
      border-radius: 30px;
      // width: 80%;
      // bottom: 75px;
      // position: fixed;
  }
