// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "scans/index";

#barcode-scanner canvas.drawingBuffer, #barcode-scanner video.drawingBuffer {
 display: none;
}

#barcode-scanner canvas, #barcode-scanner video {
 width: 100%;
 height: auto;
}



a:hover {
  text-decoration: none;
}
.green-btn:hover {
  color: white;
}
.white-btn:hover {
  color: #4CAF50;
}
